tensorflow
altair<5
apprise
bottle
colorama
datetime
python-dateutil
gradio
inotify
librosa
matplotlib
numpy
paho-mqtt<2.0.0
pandas
pip
plotly
pytest-mock
pytest
pytz
requests
resampy
seaborn
setuptools
soundfile
streamlit
suntime
tzlocal
urllib3
wheel