[Unit]
Description=BattyBirdNET-Pi S3 Backup Watchdog Service

[Service]
Type=oneshot
User=%i
ExecStart=/home/%i/BirdNET-Pi/scripts/backup_watchdog.sh